* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0 0 30px;
}

.header-menu .img-logo {
  width: 100px;
  height: 32px;
}

.header-menu .items li {
  display: inline-block;
  margin-right: 20px;
}

.header-menu .items li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.section-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 70px 0 0 30px;
}

.section-one .info-main {
  max-width: 600px;
  margin-top: 60px;
}

.section-one .info-main h1 {
  font-size: 35px;
  color: black;
  font-weight: bold;
  margin-bottom: 25px;
}

.section-one div img {
  width: 350px;
}

section input {
  margin: 30px 0 0 30px;
  width: 300px;
  border-radius: 2px;
  border: 1px solid #8a8a8a;
  padding: 12px;
  outline: none;
}

section .button {
  width: 180px;
  padding: 12px;
  border-radius: 7px;
  margin-left: 10px;
  border: none;
  background-color: #3295d8;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.section-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f6f6fe;
  padding: 10px 0 0 30px;
  margin-top: 70px;
}

.section-two .info {
  max-width: 600px;
  margin-top: 60px;
}

.section-two .info h1 {
  font-size: 35px;
  color: black;
  font-weight: bold;
  margin-bottom: 25px;
}

.section-two .info p {
  margin-bottom: 20px;
}

.section-two .info a {
  color: #3c9f8f;
}

.section-two div img {
  margin-top: 60px;
  width: 350px;
}

.section-two .card {
  margin: 150px 150px 0 0;
  width: 700px;
  height: 300px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  padding: 20px;
  background-color: #e8e8e8;
  border-radius: 10px;
}

.section-two .card .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-two .card .avatar p {
  font-weight: bold;
}

.section-two .card .avatar img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 60px;
}

.section-two .card .avatar div h1 {
  margin: 60px 0 0 20px;
}

.section-two .card .avatar div h3 {
  margin-left: 20px;
}

.footer-one {
  background-color: #585989;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 40px 0 50px 0;
}

.footer-one .footer-one-info {
  max-width: 500px;
  color: white;
}

.footer-one .footer-one-info h1 {
  font-size: 30px;
  margin: 20px 0 20px 0;
}

.footer-one .footer-one-info h4 {
  line-height: 25px;
}

.footer-one .formulario {
  margin-top: 22px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #708d9e;
  padding-top: 30px;
}

footer .dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .dates .lgo-imgg {
  margin-bottom: 30px;
}

footer .dates .logo-contact {
  width: 20px;
  padding: 10px;
}

footer .informes li {
  margin-bottom: 40px;
  list-style: none;
}

footer .informes li a {
  text-decoration: none;
  color: black;
}

footer .contacts {
  margin-top: 30px;
}

footer .contacts li {
  margin-bottom: 40px;
  list-style: none;
}

footer .contacts li a {
  text-decoration: none;
  color: black;
}

footer .social-media {
  margin-top: 80px;
}

footer .social-media img {
  width: 30px;
  margin-right: 20px;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */