$color-title: black;
$color-button:#3295d8;
$color-footer-one: #585989;
$color-footer-two: #708d9e;
$color-section: #f6f6fe;
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 0 30px;
    .img-logo {
        width: 100px;
        height: 32px;
    }
    .items li {
        display: inline-block;
        margin-right: 20px;
        a {
            text-decoration: none;
            color: $color-title;
            font-weight: bold;
        }
    }
}
.section-one {
    display: flex;
    justify-content: space-between;
    margin: 70px 0 0 30px;
    .info-main {
        max-width: 600px;
        margin-top: 60px;
        h1 {
            font-size: 35px;
            color: $color-title;
            font-weight: bold;
            margin-bottom: 25px;
        }
    }    
    div img {
        width: 350px;
    }
}
section {
    input {
        margin: 30px 0 0 30px;
        width: 300px;
        border-radius: 2px;
        border: 1px solid rgb(138, 138, 138);
        padding: 12px;
        outline: none;
    }
    .button {
        width: 180px;
        padding: 12px;
        border-radius: 7px;
        margin-left: 10px;
        border: none;
        background-color: $color-button;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
}
.section-two {
    display: flex;
    justify-content: space-between;
    background-color: $color-section;
    padding: 10px 0 0 30px;
    margin-top: 70px;
    .info {
        max-width: 600px;
        margin-top: 60px;
        h1 {
            font-size: 35px;
            color: $color-title;
            font-weight: bold;
            margin-bottom: 25px;
        }
        p {
            margin-bottom: 20px;
        }
        a {
            color: #3c9f8f;
        }
    }
    div img {
        margin-top: 60px;
        width: 350px;
    }
    .card {
        margin: 150px 150px 0 0;
        width: 700px;
        height: 300px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
        max-width: 400px;
        padding: 20px;
        background-color: rgb(232, 232, 232);
        border-radius: 10px;
        .avatar {
            display: flex;
            p{
                font-weight: bold;
            }
            img {
                border-radius: 50%;
                object-fit: cover;
                width: 60px;
            }
            div {
                h1{
                    margin: 60px 0 0 20px;
                }
                h3 {
                    margin-left: 20px;
                }
            }
            
        }
    }
}
.footer-one {
    background-color: $color-footer-one;
    display: flex;
    justify-content: space-around;
    padding: 40px 0 50px 0;
    .footer-one-info {
        max-width: 500px;
        color: white;
        h1 {
            font-size: 30px;
            margin: 20px 0 20px 0;
        }
        h4 {
            line-height: 25px;
        }
    }
    .formulario {
        margin-top: 22px;
    }

}
footer {
    display: flex;
    justify-content: space-around;
    background-color: $color-footer-two;
    padding-top: 30px;
    .dates {
        display: flex;
        flex-direction: column;
        .lgo-imgg {
            margin-bottom: 30px;
        }
        .logo-contact {
            width: 20px;
            padding: 10px;
        }
    }
    .informes {
        li {
            margin-bottom: 40px;
            list-style: none;
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
    .contacts {
        margin-top: 30px;
        li {
            margin-bottom: 40px;
            list-style: none;
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
    .social-media {
        margin-top: 80px;
        img {
            width: 30px;
            margin-right: 20px;
            cursor: pointer;
        }
    }
}
